<div id="DIV_1">
    <div id="DIV_2">
        <div id="DIV_3" ng-click="setQuantity($event,7)">
            <div id="DIV_4">
                <div id="DIV_5">
                    <div id="DIV_6" class='activeEffect'>
                        <span id="SPAN_7"></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="DIV_8" ng-click="setQuantity($event,8)">
            <div id="DIV_9">
                <div id="DIV_10">
                    <div id="DIV_11">
                        <span id="SPAN_12"></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="DIV_13" ng-click="setQuantity($event,9)">
            <div id="DIV_14">
                <div id="DIV_15">
                    <div id="DIV_16">
                        <span id="SPAN_17"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="DIV_18">
        <div id="DIV_19" ng-click="setQuantity($event,4)">
            <div id="DIV_20">
                <div id="DIV_21">
                    <div id="DIV_22">
                        <span id="SPAN_23"></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="DIV_24" ng-click="setQuantity($event,5)">
            <div id="DIV_25">
                <div id="DIV_26">
                    <div id="DIV_27">
                        <span id="SPAN_28"></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="DIV_29" ng-click="setQuantity($event,6)">
            <div id="DIV_30">
                <div id="DIV_31">
                    <div id="DIV_32">
                        <span id="SPAN_33"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="DIV_34" ng-click="setQuantity($event,1)">
        <div id="DIV_35">
            <div id="DIV_36">
                <div id="DIV_37">
                    <span id="SPAN_38"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="DIV_39" ng-click="setQuantity($event,2)">
        <div id="DIV_40">
            <div id="DIV_41">
                <div id="DIV_42">
                    <span id="SPAN_43"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="DIV_44" ng-click="setQuantity($event,3)">
        <div id="DIV_45">
            <div id="DIV_46">
                <div id="DIV_47">
                    <span id="SPAN_48"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="DIV_49" ng-click="backSpace()">
        <div id="DIV_50">
            <div id="DIV_51">
                <div id="DIV_52">
                    <span id="SPAN_53"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="DIV_54" ng-click="setQuantity($event,0)">
        <div id="DIV_55">
            <div id="DIV_56">
                <div id="DIV_57">
                    <span id="SPAN_58"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="DIV_59" ng-click="backSpace()">
        <div id="DIV_60">
            <div id="DIV_61">
                <span id="SPAN_62"><i class = "ion-backspace"></i></span>
            </div>
        </div>
    </div>
    <div ng-hide="float" id="DIV_dec" ng-click = "setQuantity($event,'.')">
        <div id="DIV_dec2">
            <div id="DIV_dec3">
                <div id="DIV_dec4">
                    <div id="DIV_dec5">
                        <span id="SPAN_dec6"></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="DIV_dec7">
            <div id="DIV_dec8">
                <div id="DIV_dec9">
                    <span id="SPAN_dec0">.</span>
                </div>
            </div>
        </div>
    </div>
    <div id="DIV_73" ng-show="fractions">
        <div id="DIV_74">
            <div id="DIV_75">
                <div id="DIV_76">
                    <div id="DIV_77">
                        <div id="DIV_78">
                            <div id="DIV_79">
                                <span id="SPAN_80">/</span>
                            </div>
                        </div>
                    </div>
                    <div ng-click = "setQuantity($event,' 1/8')">
                    <div id="DIV_81">
                        <div id="DIV_82">
                            <div id="DIV_83">
                                <span id="SPAN_84">1</span>
                            </div>
                        </div>
                    </div>
                    <div id="DIV_85">
                        <div id="DIV_86">
                            <div id="DIV_87">
                                <span id="SPAN_88">8</span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div id="DIV_89">
                    <div id="DIV_90">
                        <div id="DIV_91">
                            <div id="DIV_92">
                                <span id="SPAN_93">/</span>
                            </div>
                        </div>
                    </div>
                    <div ng-click = "setQuantity($event,' 1/4')">
                    <div id="DIV_94">
                        <div id="DIV_95">
                            <div id="DIV_96">
                                <span id="SPAN_97">1</span>
                            </div>
                        </div>
                    </div>
                    <div id="DIV_98">
                        <div id="DIV_99">
                            <div id="DIV_100">
                                <span id="SPAN_101">4</span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div id="DIV_102"  ng-click = "setQuantity($event,' 1/2')">
                    <div id="DIV_103">
                        <div id="DIV_104">
                            <div id="DIV_105">
                                <span id="SPAN_106">/</span>
                            </div>
                        </div>
                    </div>
                    <div id="DIV_107">
                        <div id="DIV_108">
                            <div id="DIV_109">
                                <span id="SPAN_110">1</span>
                            </div>
                        </div>
                    </div>
                    <div id="DIV_111">
                        <div id="DIV_112">
                            <div id="DIV_113">
                                <span id="SPAN_114">2</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="DIV_115"  ng-click = "setQuantity($event,' 3/8')">
                    <div id="DIV_116">
                        <div id="DIV_117">
                            <div id="DIV_118">
                                <span id="SPAN_119">/</span>
                            </div>
                        </div>
                    </div>
                    <div id="DIV_120">
                        <div id="DIV_121">
                            <div id="DIV_122">
                                <span id="SPAN_123">3</span>
                            </div>
                        </div>
                    </div>
                    <div id="DIV_124">
                        <div id="DIV_125">
                            <div id="DIV_126">
                                <span id="SPAN_127">8</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="DIV_128" ng-click = "setQuantity($event,' 5/8')">
                    <div id="DIV_129">
                        <div id="DIV_130">
                            <div id="DIV_131">
                                <span id="SPAN_132">/</span>
                            </div>
                        </div>
                    </div>
                    <div id="DIV_133">
                        <div id="DIV_134">
                            <div id="DIV_135">
                                <span id="SPAN_136">5</span>
                            </div>
                        </div>
                    </div>
                    <div id="DIV_137">
                        <div id="DIV_138">
                            <div id="DIV_139">
                                <span id="SPAN_140">8</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="DIV_141" ng-click="setQuantity($event,' 7/8')">
                    <div id="DIV_142">
                        <div id="DIV_143">
                            <div id="DIV_144">
                                <span id="SPAN_145">/</span>
                            </div>
                        </div>
                    </div>
                    <div id="DIV_146">
                        <div id="DIV_147">
                            <div id="DIV_148">
                                <span id="SPAN_149">7</span>
                            </div>
                        </div>
                    </div>
                    <div id="DIV_150">
                        <div id="DIV_151">
                            <div id="DIV_152">
                                <span id="SPAN_153">8</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="DIV_154" ng-click ="setQuantity($event,' 3/4')">
                    <div id="DIV_155">
                        <div id="DIV_156">
                            <div id="DIV_157">
                                <span id="SPAN_158">/</span>
                            </div>
                        </div>
                    </div>
                    <div id="DIV_159">
                        <div id="DIV_160">
                            <div id="DIV_161">
                                <span id="SPAN_162">3</span>
                            </div>
                        </div>
                    </div>
                    <div id="DIV_163">
                        <div id="DIV_164">
                            <div id="DIV_165">
                                <span id="SPAN_166">4</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="DIV_167">
                    <div id="DIV_168">
                        <div id="DIV_169">
                            <span id="SPAN_170">-</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-click="setQuantity($event)">
        <div id="DIV_171">
            <div id="DIV_172">
                <div id="DIV_173">
                    <span id="SPAN_174">7</span>
                </div>
            </div>
        </div>
        <div id="DIV_175">
            <div id="DIV_176">
                <div id="DIV_177">
                    <span id="SPAN_178">8</span>
                </div>
            </div>
        </div>
        <div id="DIV_179">
            <div id="DIV_180">
                <div id="DIV_181">
                    <span id="SPAN_182">9</span>
                </div>
            </div>
        </div>
        <div id="DIV_183">
            <div id="DIV_184">
                <div id="DIV_185">
                    <span id="SPAN_186">6</span>
                </div>
            </div>
        </div>
        <div id="DIV_187">
            <div id="DIV_188">
                <div id="DIV_189">
                    <span id="SPAN_190">5</span>
                </div>
            </div>
        </div>
        <div id="DIV_191">
            <div id="DIV_192">
                <div id="DIV_193">
                    <span id="SPAN_194">3</span>
                </div>
            </div>
        </div>
        <div id="DIV_195">
            <div id="DIV_196">
                <div id="DIV_197">
                    <span id="SPAN_198">4</span>
                </div>
            </div>
        </div>
        <div id="DIV_199">
            <div id="DIV_200">
                <div id="DIV_201">
                    <span id="SPAN_202">1</span>
                </div>
            </div>
        </div>
        <div id="DIV_203">
            <div id="DIV_204">
                <div id="DIV_205">
                    <span id="SPAN_206">2</span>
                </div>
            </div>
        </div>
        <div id="DIV_207">
            <div id="DIV_208">
                <div id="DIV_209">
                    <span id="SPAN_210">0</span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
#DIV_1 {
    height: 306px;
    position: relative;
    width: 399px;
    perspective-origin: 199.5px 153px;
    transform-origin: 199.5px 153px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
}


/*#DIV_1*/

#DIV_2 {
    height: 66px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 284px;
    perspective-origin: 142px 33px;
    transform-origin: 142px 33px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
}


/*#DIV_2*/

#DIV_3,
#DIV_19 {
    height: 66px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 85px;
    z-index: 2;
    perspective-origin: 42.5px 33px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 42.5px 33px;
    background: rgb(102, 102, 102) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 13.3333px / normal Roboto-Regular, Arial;
}


/*#DIV_3, #DIV_19*/

#DIV_4,
#DIV_9,
#DIV_14,
#DIV_20,
#DIV_25,
#DIV_30,
#DIV_35,
#DIV_40,
#DIV_45,
#DIV_50 {
    height: 66px;
    width: 85px;
    perspective-origin: 42.5px 33px;
    transform-origin: 42.5px 33px;
    font: normal normal normal normal 13.3333px / normal Roboto-Regular, Arial;
    overflow: hidden;
}


/*#DIV_4, #DIV_9, #DIV_14, #DIV_20, #DIV_25, #DIV_30, #DIV_35, #DIV_40, #DIV_45, #DIV_50*/

#DIV_5,
#DIV_10,
#DIV_15,
#DIV_21,
#DIV_26,
#DIV_31,
#DIV_36,
#DIV_41,
#DIV_46,
#DIV_51 {
    display: table;
    height: 66px;
    overflow-wrap: break-word;
    table-layout: fixed;
    width: 85px;
    word-wrap: break-word;
    perspective-origin: 42.5px 33px;
    transform-origin: 42.5px 33px;
    font: normal normal normal normal 13.3333px / normal Roboto-Regular, Arial;
}


/*#DIV_5, #DIV_10, #DIV_15, #DIV_21, #DIV_26, #DIV_31, #DIV_36, #DIV_41, #DIV_46, #DIV_51*/

#DIV_6,
#DIV_11,
#DIV_16,
#DIV_22,
#DIV_27,
#DIV_32,
#DIV_37,
#DIV_42,
#DIV_47,
#DIV_52 {
    display: table-cell;
    height: 66px;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    width: 85px;
    word-wrap: break-word;
    perspective-origin: 42.5px 33px;
    transform-origin: 42.5px 33px;
    font: normal normal normal normal 13.3333px / normal Roboto-Regular, Arial;
}


/*#DIV_6, #DIV_11, #DIV_16, #DIV_22, #DIV_27, #DIV_32, #DIV_37, #DIV_42, #DIV_47, #DIV_52*/

#SPAN_7,
#SPAN_12,
#SPAN_17,
#SPAN_23,
#SPAN_28,
#SPAN_33,
#SPAN_38,
#SPAN_43,
#SPAN_48,
#SPAN_53,
#SPAN_58,
#SPAN_68 {
    color: rgb(128, 128, 128);
    overflow-wrap: break-word;
    text-align: center;
    word-wrap: break-word;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal normal 13.3333px / 0px Roboto-Regular, Arial;
    outline: rgb(128, 128, 128) none 0px;
}


/*#SPAN_7, #SPAN_12, #SPAN_17, #SPAN_23, #SPAN_28, #SPAN_33, #SPAN_38, #SPAN_43, #SPAN_48, #SPAN_53, #SPAN_58, #SPAN_68*/

#DIV_8,
#DIV_24 {
    height: 66px;
    left: 99px;
    position: absolute;
    top: 0px;
    width: 85px;
    z-index: 2;
    perspective-origin: 42.5px 33px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 42.5px 33px;
    background: rgb(102, 102, 102) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 13.3333px / normal Roboto-Regular, Arial;
}


/*#DIV_8, #DIV_24*/

#DIV_13,
#DIV_29 {
    height: 66px;
    left: 199px;
    position: absolute;
    top: 0px;
    width: 85px;
    z-index: 2;
    perspective-origin: 42.5px 33px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 42.5px 33px;
    background: rgb(102, 102, 102) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 13.3333px / normal Roboto-Regular, Arial;
}


/*#DIV_13, #DIV_29*/

#DIV_18 {
    height: 66px;
    left: 0px;
    position: absolute;
    top: 80px;
    width: 284px;
    perspective-origin: 142px 33px;
    transform-origin: 142px 33px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
}


/*#DIV_18*/

#DIV_34 {
    height: 66px;
    left: 0px;
    position: absolute;
    top: 160px;
    width: 85px;
    z-index: 2;
    perspective-origin: 42.5px 33px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 42.5px 33px;
    background: rgb(102, 102, 102) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 13.3333px / normal Roboto-Regular, Arial;
}


/*#DIV_34*/

#DIV_39 {
    height: 66px;
    left: 99px;
    position: absolute;
    top: 160px;
    width: 85px;
    z-index: 2;
    perspective-origin: 42.5px 33px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 42.5px 33px;
    background: rgb(102, 102, 102) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 13.3333px / normal Roboto-Regular, Arial;
}


/*#DIV_39*/

#DIV_44 {
    height: 66px;
    left: 199px;
    position: absolute;
    top: 160px;
    width: 85px;
    z-index: 2;
    perspective-origin: 42.5px 33px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 42.5px 33px;
    background: rgb(102, 102, 102) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 13.3333px / normal Roboto-Regular, Arial;
}


/*#DIV_44*/

#DIV_49 {
    height: 66px;
    left: 0px;
    position: absolute;
    top: 240px;
    width: 85px;
    z-index: 2;
    perspective-origin: 42.5px 33px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 42.5px 33px;
    background: rgb(252, 54, 29) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 13.3333px / normal Roboto-Regular, Arial;
}


/*#DIV_49*/

#DIV_54 {
    height: 66px;
    left: 99px;
    position: absolute;
    top: 240px;
    width: 86px;
    z-index: 2;
    perspective-origin: 43px 33px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 43px 33px;
    background: rgb(102, 102, 102) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 13.3333px / normal Roboto-Regular, Arial;
}


/*#DIV_54*/

#DIV_55,
#DIV_65 {
    height: 66px;
    width: 86px;
    perspective-origin: 43px 33px;
    transform-origin: 43px 33px;
    font: normal normal normal normal 13.3333px / normal Roboto-Regular, Arial;
    overflow: hidden;
}


/*#DIV_55, #DIV_65*/

#DIV_56,
#DIV_66 {
    display: table;
    height: 66px;
    overflow-wrap: break-word;
    table-layout: fixed;
    width: 86px;
    word-wrap: break-word;
    perspective-origin: 43px 33px;
    transform-origin: 43px 33px;
    font: normal normal normal normal 13.3333px / normal Roboto-Regular, Arial;
}


/*#DIV_56, #DIV_66*/

#DIV_57,
#DIV_67 {
    display: table-cell;
    height: 66px;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    width: 86px;
    word-wrap: break-word;
    perspective-origin: 43px 33px;
    transform-origin: 43px 33px;
    font: normal normal normal normal 13.3333px / normal Roboto-Regular, Arial;
}


/*#DIV_57, #DIV_67*/

#DIV_59 {
    height: 34px;
    left: 25px;
    position: absolute;
    text-overflow: ellipsis;
    top: 255px;
    white-space: nowrap;
    width: 35px;
    z-index: 2;
    perspective-origin: 17.5px 17px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 17.5px 17px;
    font: normal normal normal normal 34.6667px / normal materialdesignjim-Regular, Arial;
    overflow: hidden;
}


/*#DIV_59*/

#DIV_60 {
    height: 34px;
    white-space: nowrap;
    width: 35px;
    perspective-origin: 17.5px 17px;
    transform-origin: 17.5px 17px;
    font: normal normal normal normal 34.6667px / normal materialdesignjim-Regular, Arial;
    overflow: hidden;
}


/*#DIV_60*/

#DIV_61 {
    display: table-cell;
    height: 34px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 35px;
    perspective-origin: 17.5px 17px;
    transform-origin: 17.5px 17px;
    font: normal normal normal normal 34.6667px / normal materialdesignjim-Regular, Arial;
}


/*#DIV_61*/

#SPAN_62 {
    color: rgb(255, 255, 255);
    text-align: left;
    white-space: nowrap;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 34.6667px / 0px materialdesignjim-Regular, Arial;
    outline: rgb(255, 255, 255) none 0px;
}


/*#SPAN_62*/

#DIV_63 {
    height: 66px;
    left: 199px;
    position: absolute;
    top: 240px;
    width: 86px;
    perspective-origin: 43px 33px;
    transform-origin: 43px 33px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
}


/*#DIV_63*/

#DIV_64 {
    height: 66px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 86px;
    z-index: 2;
    perspective-origin: 43px 33px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 43px 33px;
    background: rgb(109, 253, 48) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 13.3333px / normal Roboto-Regular, Arial;
}


/*#DIV_64*/

#DIV_69 {
    height: 48px;
    left: 19px;
    position: absolute;
    text-overflow: ellipsis;
    top: 9px;
    white-space: nowrap;
    width: 48px;
    z-index: 2;
    perspective-origin: 24px 24px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 24px 24px;
    font: normal normal normal normal 48px / normal materialdesignjim-Regular, Arial;
    overflow: hidden;
}


/*#DIV_69*/

#DIV_70 {
    height: 48px;
    white-space: nowrap;
    width: 48px;
    perspective-origin: 24px 24px;
    transform-origin: 24px 24px;
    font: normal normal normal normal 48px / normal materialdesignjim-Regular, Arial;
    overflow: hidden;
}


/*#DIV_70*/

#DIV_71 {
    display: table-cell;
    height: 48px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 48px;
    perspective-origin: 24px 24px;
    transform-origin: 24px 24px;
    font: normal normal normal normal 48px / normal materialdesignjim-Regular, Arial;
}


/*#DIV_71*/

#SPAN_72 {
    color: rgb(255, 255, 255);
    text-align: left;
    white-space: nowrap;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 48px / 0px materialdesignjim-Regular, Arial;
    outline: rgb(255, 255, 255) none 0px;
}


/*#SPAN_72*/

#DIV_73 {
    height: 306px;
    left: 294px;
    position: absolute;
    top: 0px;
    width: 105px;
    z-index: 2;
    perspective-origin: 52.5px 153px;
    transform-origin: 52.5px 153px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
}


/*#DIV_73*/

#DIV_74 {
    height: 306px;
    position: relative;
    width: 88px;
    z-index: 2;
    perspective-origin: 52.5px 153px;
    transform-origin: 52.5px 153px;
    background: rgb(102, 102, 102) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 16px / normal 'Times New Roman';
    overflow: auto;
}


/*#DIV_74*/

#DIV_75 {
    height: 542px;
    left: 38px;
    position: absolute;
    top: 17px;
    width: 26px;
    perspective-origin: 13px 271px;
    transform-origin: 13px 271px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
}


/*#DIV_75*/

#DIV_76 {
    height: 49px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 26px;
    perspective-origin: 13px 24.5px;
    transform-origin: 13px 24.5px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
}


/*#DIV_76*/

#DIV_77,
#DIV_90,
#DIV_103,
#DIV_116,
#DIV_129,
#DIV_142,
#DIV_155 {
    height: 49px;
    left: 4px;
    position: absolute;
    text-overflow: ellipsis;
    top: 0px;
    white-space: nowrap;
    width: 15px;
    z-index: 2;
    perspective-origin: 7.5px 24.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 7.5px 24.5px;
    font: normal normal normal normal 37.3333px / normal Roboto-Light, Arial;
    overflow: hidden;
}


/*#DIV_77, #DIV_90, #DIV_103, #DIV_116, #DIV_129, #DIV_142, #DIV_155*/

#DIV_78,
#DIV_91,
#DIV_104,
#DIV_117,
#DIV_130,
#DIV_143,
#DIV_156 {
    height: 49px;
    white-space: nowrap;
    width: 15px;
    perspective-origin: 7.5px 24.5px;
    transform-origin: 7.5px 24.5px;
    font: normal normal normal normal 37.3333px / normal Roboto-Light, Arial;
    overflow: hidden;
}


/*#DIV_78, #DIV_91, #DIV_104, #DIV_117, #DIV_130, #DIV_143, #DIV_156*/

#DIV_79,
#DIV_92,
#DIV_105,
#DIV_118,
#DIV_131,
#DIV_144,
#DIV_157 {
    display: table-cell;
    height: 49px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 15px;
    perspective-origin: 7.5px 24.5px;
    transform-origin: 7.5px 24.5px;
    font: normal normal normal normal 37.3333px / normal Roboto-Light, Arial;
}


/*#DIV_79, #DIV_92, #DIV_105, #DIV_118, #DIV_131, #DIV_144, #DIV_157*/

#SPAN_80,
#SPAN_93,
#SPAN_106,
#SPAN_119,
#SPAN_132,
#SPAN_145,
#SPAN_158 {
    color: rgb(217, 217, 217);
    text-align: left;
    white-space: nowrap;
    border: 0px none rgb(217, 217, 217);
    font: normal normal normal normal 37.3333px / 0px Roboto-Light, Arial;
    outline: rgb(217, 217, 217) none 0px;
}


/*#SPAN_80, #SPAN_93, #SPAN_106, #SPAN_119, #SPAN_132, #SPAN_145, #SPAN_158*/

#DIV_81,
#DIV_94,
#DIV_107,
#DIV_120,
#DIV_133,
#DIV_146,
#DIV_159 {
    height: 25px;
    left: 0px;
    position: absolute;
    text-overflow: ellipsis;
    top: 7px;
    white-space: nowrap;
    width: 11px;
    z-index: 2;
    perspective-origin: 5.5px 12.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 5.5px 12.5px;
    font: normal normal normal normal 18.6667px / normal Roboto-Medium, Arial;
    overflow: hidden;
}


/*#DIV_81, #DIV_94, #DIV_107, #DIV_120, #DIV_133, #DIV_146, #DIV_159*/

#DIV_82,
#DIV_86,
#DIV_95,
#DIV_99,
#DIV_108,
#DIV_112,
#DIV_121,
#DIV_125,
#DIV_134,
#DIV_138,
#DIV_147,
#DIV_151,
#DIV_160,
#DIV_164 {
    height: 25px;
    white-space: nowrap;
    width: 11px;
    perspective-origin: 5.5px 12.5px;
    transform-origin: 5.5px 12.5px;
    font: normal normal normal normal 18.6667px / normal Roboto-Medium, Arial;
    overflow: hidden;
}


/*#DIV_82, #DIV_86, #DIV_95, #DIV_99, #DIV_108, #DIV_112, #DIV_121, #DIV_125, #DIV_134, #DIV_138, #DIV_147, #DIV_151, #DIV_160, #DIV_164*/

#DIV_83,
#DIV_87,
#DIV_96,
#DIV_100,
#DIV_109,
#DIV_113,
#DIV_122,
#DIV_126,
#DIV_135,
#DIV_139,
#DIV_148,
#DIV_152,
#DIV_161,
#DIV_165 {
    display: table-cell;
    height: 25px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 11px;
    perspective-origin: 5.5px 12.5px;
    transform-origin: 5.5px 12.5px;
    font: normal normal normal normal 18.6667px / normal Roboto-Medium, Arial;
}


/*#DIV_83, #DIV_87, #DIV_96, #DIV_100, #DIV_109, #DIV_113, #DIV_122, #DIV_126, #DIV_135, #DIV_139, #DIV_148, #DIV_152, #DIV_161, #DIV_165*/

#SPAN_84,
#SPAN_88,
#SPAN_97,
#SPAN_101,
#SPAN_110,
#SPAN_114,
#SPAN_123,
#SPAN_127,
#SPAN_136,
#SPAN_140,
#SPAN_149,
#SPAN_153,
#SPAN_162,
#SPAN_166 {
    color: rgb(204, 204, 204);
    text-align: left;
    white-space: nowrap;
    border: 0px none rgb(204, 204, 204);
    font: normal normal normal normal 18.6667px / 0px Roboto-Medium, Arial;
    outline: rgb(204, 204, 204) none 0px;
}


/*#SPAN_84, #SPAN_88, #SPAN_97, #SPAN_101, #SPAN_110, #SPAN_114, #SPAN_123, #SPAN_127, #SPAN_136, #SPAN_140, #SPAN_149, #SPAN_153, #SPAN_162, #SPAN_166*/

#DIV_85,
#DIV_98,
#DIV_111,
#DIV_124,
#DIV_137,
#DIV_150,
#DIV_163 {
    height: 25px;
    left: 15px;
    position: absolute;
    text-overflow: ellipsis;
    top: 20px;
    white-space: nowrap;
    width: 11px;
    z-index: 2;
    perspective-origin: 5.5px 12.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 5.5px 12.5px;
    font: normal normal normal normal 18.6667px / normal Roboto-Medium, Arial;
    overflow: hidden;
}


/*#DIV_85, #DIV_98, #DIV_111, #DIV_124, #DIV_137, #DIV_150, #DIV_163*/

#DIV_89 {
    height: 49px;
    left: 0px;
    position: absolute;
    top: 72px;
    width: 26px;
    perspective-origin: 13px 24.5px;
    transform-origin: 13px 24.5px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
}


/*#DIV_89*/

#DIV_102 {
    height: 49px;
    left: 0px;
    position: absolute;
    top: 216px;
    width: 26px;
    perspective-origin: 13px 24.5px;
    transform-origin: 13px 24.5px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
}


/*#DIV_102*/

#DIV_115 {
    height: 49px;
    left: 0px;
    position: absolute;
    top: 144px;
    width: 26px;
    perspective-origin: 13px 24.5px;
    transform-origin: 13px 24.5px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
}


/*#DIV_115*/

#DIV_128 {
    height: 49px;
    left: 0px;
    position: absolute;
    top: 288px;
    width: 26px;
    perspective-origin: 13px 24.5px;
    transform-origin: 13px 24.5px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
}


/*#DIV_128*/

#DIV_141 {
    height: 49px;
    left: 0px;
    position: absolute;
    top: 432px;
    width: 26px;
    perspective-origin: 13px 24.5px;
    transform-origin: 13px 24.5px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
}


/*#DIV_141*/

#DIV_154 {
    height: 49px;
    left: 0px;
    position: absolute;
    top: 360px;
    width: 26px;
    perspective-origin: 13px 24.5px;
    transform-origin: 13px 24.5px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
}


/*#DIV_154*/

#DIV_167 {
    height: 35px;
    left: 8px;
    position: absolute;
    text-overflow: ellipsis;
    top: 507px;
    white-space: nowrap;
    width: 11px;
    z-index: 2;
    perspective-origin: 5.5px 17.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 5.5px 17.5px;
    font: normal normal normal normal 26.6667px / normal Roboto-Bold, Arial;
    overflow: hidden;
}


/*#DIV_167*/

#DIV_168 {
    height: 35px;
    white-space: nowrap;
    width: 11px;
    perspective-origin: 5.5px 17.5px;
    transform-origin: 5.5px 17.5px;
    font: normal normal normal normal 26.6667px / normal Roboto-Bold, Arial;
    overflow: hidden;
}


/*#DIV_168*/

#DIV_169 {
    display: table-cell;
    height: 35px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 11px;
    perspective-origin: 5.5px 17.5px;
    transform-origin: 5.5px 17.5px;
    font: normal normal normal normal 26.6667px / normal Roboto-Bold, Arial;
}


/*#DIV_169*/

#SPAN_170,
#SPAN_174,
#SPAN_178,
#SPAN_182,
#SPAN_186,
#SPAN_190,
#SPAN_194,
#SPAN_198,
#SPAN_202,
#SPAN_206,
#SPAN_210 {
    color: rgb(255, 255, 255);
    text-align: left;
    white-space: nowrap;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 26.6667px / 0px Roboto-Bold, Arial;
    outline: rgb(255, 255, 255) none 0px;
}


/*#SPAN_170, #SPAN_174, #SPAN_178, #SPAN_182, #SPAN_186, #SPAN_190, #SPAN_194, #SPAN_198, #SPAN_202, #SPAN_206, #SPAN_210*/

#DIV_171 {
    height: 35px;
    left: 35px;
    position: absolute;
    text-overflow: ellipsis;
    top: 15px;
    white-space: nowrap;
    width: 15px;
    z-index: 2;
    perspective-origin: 7.5px 17.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 7.5px 17.5px;
    font: normal normal normal normal 26.6667px / normal Roboto-Bold, Arial;
    overflow: hidden;
}


/*#DIV_171*/

#DIV_172,
#DIV_176,
#DIV_180,
#DIV_184,
#DIV_188,
#DIV_192,
#DIV_196,
#DIV_200,
#DIV_204,
#DIV_208 {
    height: 35px;
    white-space: nowrap;
    width: 15px;
    perspective-origin: 7.5px 17.5px;
    transform-origin: 7.5px 17.5px;
    font: normal normal normal normal 26.6667px / normal Roboto-Bold, Arial;
    overflow: hidden;
}


/*#DIV_172, #DIV_176, #DIV_180, #DIV_184, #DIV_188, #DIV_192, #DIV_196, #DIV_200, #DIV_204, #DIV_208*/

#DIV_173,
#DIV_177,
#DIV_181,
#DIV_185,
#DIV_189,
#DIV_193,
#DIV_197,
#DIV_201,
#DIV_205,
#DIV_209 {
    display: table-cell;
    height: 35px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 15px;
    perspective-origin: 7.5px 17.5px;
    transform-origin: 7.5px 17.5px;
    font: normal normal normal normal 26.6667px / normal Roboto-Bold, Arial;
}


/*#DIV_173, #DIV_177, #DIV_181, #DIV_185, #DIV_189, #DIV_193, #DIV_197, #DIV_201, #DIV_205, #DIV_209*/

#DIV_175 {
    height: 35px;
    left: 134px;
    position: absolute;
    text-overflow: ellipsis;
    top: 15px;
    white-space: nowrap;
    width: 15px;
    z-index: 2;
    perspective-origin: 7.5px 17.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 7.5px 17.5px;
    font: normal normal normal normal 26.6667px / normal Roboto-Bold, Arial;
    overflow: hidden;
}


/*#DIV_175*/

#DIV_179 {
    height: 35px;
    left: 234px;
    position: absolute;
    text-overflow: ellipsis;
    top: 15px;
    white-space: nowrap;
    width: 15px;
    z-index: 2;
    perspective-origin: 7.5px 17.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 7.5px 17.5px;
    font: normal normal normal normal 26.6667px / normal Roboto-Bold, Arial;
    overflow: hidden;
}


/*#DIV_179*/

#DIV_183 {
    height: 35px;
    left: 234px;
    position: absolute;
    text-overflow: ellipsis;
    top: 95px;
    white-space: nowrap;
    width: 15px;
    z-index: 2;
    perspective-origin: 7.5px 17.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 7.5px 17.5px;
    font: normal normal normal normal 26.6667px / normal Roboto-Bold, Arial;
    overflow: hidden;
}


/*#DIV_183*/

#DIV_187 {
    height: 35px;
    left: 134px;
    position: absolute;
    text-overflow: ellipsis;
    top: 95px;
    white-space: nowrap;
    width: 15px;
    z-index: 2;
    perspective-origin: 7.5px 17.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 7.5px 17.5px;
    font: normal normal normal normal 26.6667px / normal Roboto-Bold, Arial;
    overflow: hidden;
}


/*#DIV_187*/

#DIV_191 {
    height: 35px;
    left: 234px;
    position: absolute;
    text-overflow: ellipsis;
    top: 175px;
    white-space: nowrap;
    width: 15px;
    z-index: 2;
    perspective-origin: 7.5px 17.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 7.5px 17.5px;
    font: normal normal normal normal 26.6667px / normal Roboto-Bold, Arial;
    overflow: hidden;
}


/*#DIV_191*/

#DIV_195 {
    height: 35px;
    left: 35px;
    position: absolute;
    text-overflow: ellipsis;
    top: 95px;
    white-space: nowrap;
    width: 15px;
    z-index: 2;
    perspective-origin: 7.5px 17.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 7.5px 17.5px;
    font: normal normal normal normal 26.6667px / normal Roboto-Bold, Arial;
    overflow: hidden;
}


/*#DIV_195*/

#DIV_199 {
    height: 35px;
    left: 35px;
    position: absolute;
    text-overflow: ellipsis;
    top: 175px;
    white-space: nowrap;
    width: 15px;
    z-index: 2;
    perspective-origin: 7.5px 17.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 7.5px 17.5px;
    font: normal normal normal normal 26.6667px / normal Roboto-Bold, Arial;
    overflow: hidden;
}


/*#DIV_199*/

#DIV_203 {
    height: 35px;
    left: 134px;
    position: absolute;
    text-overflow: ellipsis;
    top: 175px;
    white-space: nowrap;
    width: 15px;
    z-index: 2;
    perspective-origin: 7.5px 17.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 7.5px 17.5px;
    font: normal normal normal normal 26.6667px / normal Roboto-Bold, Arial;
    overflow: hidden;
}


/*#DIV_203*/

#DIV_207 {
    height: 35px;
    left: 134px;
    position: absolute;
    text-overflow: ellipsis;
    top: 255px;
    white-space: nowrap;
    width: 15px;
    z-index: 2;
    perspective-origin: 7.5px 17.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 7.5px 17.5px;
    font: normal normal normal normal 26.6667px / normal Roboto-Bold, Arial;
    overflow: hidden;
}


/*#DIV_207*/

#DIV_dec {
    height: 66px;
    left: 198px;
    position: absolute;
    top: 240px;
    width: 86px;
    perspective-origin: 43px 33px;
    transform-origin: 43px 33px;
    font: normal normal normal normal 16px / normal 'Times New Roman';
}


/*#DIV_dec*/

#DIV_dec2 {
    height: 66px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 86px;
    z-index: 2;
    perspective-origin: 43px 33px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 43px 33px;
    background: rgb(102, 102, 102) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 13.3333px / normal Roboto-Regular, Arial;
}


/*#DIV_dec2*/

#DIV_dec3 {
    height: 66px;
    width: 86px;
    perspective-origin: 43px 33px;
    transform-origin: 43px 33px;
    font: normal normal normal normal 13.3333px / normal Roboto-Regular, Arial;
    overflow: hidden;
}


/*#DIV_dec3*/

#DIV_dec4 {
    display: table;
    height: 66px;
    overflow-wrap: break-word;
    table-layout: fixed;
    width: 86px;
    word-wrap: break-word;
    perspective-origin: 43px 33px;
    transform-origin: 43px 33px;
    font: normal normal normal normal 13.3333px / normal Roboto-Regular, Arial;
}


/*#DIV_dec4*/

#DIV_dec5 {
    display: table-cell;
    height: 66px;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    width: 86px;
    word-wrap: break-word;
    perspective-origin: 43px 33px;
    transform-origin: 43px 33px;
    font: normal normal normal normal 13.3333px / normal Roboto-Regular, Arial;
}


/*#DIV_dec5*/

#SPAN_dec6 {
    color: rgb(128, 128, 128);
    overflow-wrap: break-word;
    text-align: center;
    word-wrap: break-word;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal normal 13.3333px / 0px Roboto-Regular, Arial;
    outline: rgb(128, 128, 128) none 0px;
}


/*#SPAN_dec6*/

#DIV_dec7 {
    height: 35px;
    left: 35px;
    position: absolute;
    text-overflow: ellipsis;
    top: 15px;
    white-space: nowrap;
    width: 8px;
    z-index: 2;
    perspective-origin: 4px 17.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 4px 17.5px;
    font: normal normal normal normal 26.6667px / normal Roboto-Bold, Arial;
    overflow: hidden;
}


/*#DIV_dec7*/

#DIV_dec8 {
    height: 35px;
    white-space: nowrap;
    width: 8px;
    perspective-origin: 4px 17.5px;
    transform-origin: 4px 17.5px;
    font: normal normal normal normal 26.6667px / normal Roboto-Bold, Arial;
    overflow: hidden;
}


/*#DIV_dec8*/

#DIV_dec9 {
    display: table-cell;
    height: 35px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 8px;
    perspective-origin: 4px 17.5px;
    transform-origin: 4px 17.5px;
    font: normal normal normal normal 26.6667px / normal Roboto-Bold, Arial;
}


/*#DIV_dec9*/

#SPAN_dec0 {
    color: rgb(255, 255, 255);
    text-align: left;
    white-space: nowrap;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 26.6667px / 0px Roboto-Bold, Arial;
    outline: rgb(255, 255, 255) none 0px;
}


/*#SPAN_dec0*/
</style>
