<ion-modal-view class="addOrderModal smallModal">
    <ion-content scroll='false'>
        <div class="row p-b-0 m-t-0 table-header-container">
            <div class="col h-100 p-b-0 m-t-0">
                <div class="row h-100 table-header">
                    <div class="col p-x-0">
                        <h5 class="m-a-0">S.No</h5>
                    </div>
                    <div class="col p-x-0">
                        <h5 class="m-a-0">Vessel</h5>
                    </div>
                      <div class="col p-x-0">
                        <h5 class="m-a-0">User</h5>
                    </div>
                    <div class="col p-x-0">
                        <h5 class="m-a-0">Status</h5>
                    </div>
                    <div class="col p-x-0">
                        <h5 class="m-a-0">Timestamp</h5>
                    </div>                       
                </div>
            </div>
        </div>
        <div class="row table-row-container">
            <div class="col h-100 p-b-0">
                <ion-scroll class="h-100">
                    <div class="row table-row">
                        <div class="col pos-relative p-x-0 cus-sys-cls">
                            <h5 class="m-a-0">1</h5>
                        </div>
                        <div class="col pos-relative p-x-0 cus-sys-cls">
                            <h5 class="m-a-0">Barge 456</h5>
                        </div>
                        <div class="col pos-relative p-x-0 cus-sys-cls">
                            <h5 class="m-a-0">Sonu</h5>
                        </div>
                        <div class="col pos-relative p-x-0 cus-sys-cls">
                            <h5 class="m-a-0">Delivery in Progress</h5>
                        </div>
                        <div class="col pos-relative p-x-0 cus-sys-cls">
                            <h5 class="m-a-0">Jan 31 2018 9:30pm</h5>
                        </div>
                    </div>
                </ion-scroll>
            </div>
        </div>
    </ion-content>
</ion-modal-view>