<div>
	<div class="tank-picker-wrapper" ng-class="{'plain': 'plain', 'blue': 'blue'}[theme]">
		<!-- <div class="num-btn label feet" ng-class="{active : selectedUnit == 'feet'}" ng-click="selectUnit('feet')">Feet <br><span class="tiny">max: {{maxFeet}}</span></div>
		<div class="num-btn label inch" ng-class="{active : selectedUnit == 'inch'}" ng-click="selectUnit('inch')">Inches<br><span class="tiny">max: {{maxInch}}</span></div>
		<div class="num-btn label fracts" ng-class="{active : selectedUnit == 'fracts'}" ng-click="selectUnit('fracts')">Fracts<br><span class="tiny">max: {{maxFracts}}</span></div> -->
	
		<div id="tnk_pick_7" class="num-btn seven" ng-click="enterValue(7)" >7</div>
		<div id="tnk_pick_8" class="num-btn eight" ng-click="enterValue(8)" >8</div>
		<div id="tnk_pick_9" class="num-btn nine"  ng-click="enterValue(9)" >9</div>
		<div id="tnk_pick_4" class="num-btn four"  ng-click="enterValue(4)" >4</div>
		<div id="tnk_pick_5" class="num-btn five"  ng-click="enterValue(5)" >5</div>
		<div id="tnk_pick_6" class="num-btn six"   ng-click="enterValue(6)" >6</div>
		<div id="tnk_pick_1" class="num-btn one"   ng-click="enterValue(1)" >1</div>
		<div id="tnk_pick_2" class="num-btn two"   ng-click="enterValue(2)" >2</div>
		<div id="tnk_pick_3" class="num-btn three" ng-click="enterValue(3)" >3</div>
		<div id="tnk_pick_0" class="num-btn zero"  ng-click="enterValue(0)" >0</div>

		<!-- <div class="num-btn prev" ng-click="selectUnit('feet')"><</div>
		<div class="num-btn back" ng-click="backspace()"><i class="ion-backspace-outline"></i></div>
		
		<div class="num-btn next" ng-click="selectUnit('inch')">></div> -->
	
		
		<div class="num-btn clr" ng-click="clear()">C</div>
	
	</div>
</div>